@use '../abstract/variables' as *;
@use '../abstract/mixins' as *;
@use '../base/typography' as *;

.icon {

    &.toggle-menu__open {
        color: $color-accent;
        font-size: 26px;
    }

    &.toggle-menu__close {
        margin-bottom: 20px;
        padding: 20px 20px;
        text-align: end;
    }
}