@use '../abstract/variables' as *;
@use '../abstract/mixins' as *;
@use '../base/typography' as *;

.contact {
    background-color: $color-bg-white;

    &-left {
        display: none;
    }

    &__description {
        text-align: center;
        margin-bottom: 40px;

        &-heading {
            font-size: $heading-2;
            font-weight: $font-weight-bold;
            line-height: 1.2;
            margin-bottom: 10px;
        }

        &-text {
            font-size: $txt-primary;
            line-height: 1.6;
        }
    }

    &__form {
        display: grid;
        grid-template-columns: 1fr;
        gap: 15px;
        max-width: 80%;
        margin: 0 auto;
        font-size: $txt-primary;

        &-input {
            padding: 10px;
            border: 2px solid $color-bg-additional;
            border-radius: 5px;
            font-family: $font-family-primary;
            height: 20px;
            font-size: $heading-5;

            &::placeholder {
                font-family: $font-family-primary;
            }
        }

        &-message {
            resize: none;
            border: 2px solid $color-bg-additional;
            border-radius: 5px;
            font-family: $font-family-primary;
            padding: 10px;
            font-size: $heading-5;

            &::placeholder {
                font-family: $font-family-primary;
            }
        }

        &-text {
            font-style: italic;
            font-size: $txt-small;
        }
    }

    @include respond-to($bp-lg) {

        &__form {
            grid-template-columns: 1fr 1fr;

            &-message {
                grid-column: span 2;
            }

            &-button {
                grid-column: span 2;
            }
        }
    }

    @include respond-to($bp-xl) {
        
        .container {
            display: flex;
            justify-content: center;
            align-items: center;
            position: relative;
            gap: 120px;
        }

        &-left {
            display: inline-block;
        }

        &--img {
            max-width: 100%;
            max-height: 70vh;
            border-radius: 5px;
            box-shadow: 0px 3px 11px -1px rgba(0, 0, 0, 0.4);
        }

        &-right {
            max-height: 80vh;
        }

        &__description {
            text-align: start;
        }

        &__form {
            margin: 0;
            max-width: 100%;

            &-button {
                grid-column: span 1;
                margin-right: 40px;
            }

            &-text {
                align-self: center;
            }
        }
    }
}