@use '../abstract/variables' as *;
@use '../abstract/mixins' as *;

.h-mobile {
    background-color: rgba($color-bg-secondary, .5);
    padding: 10px 0;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;

    &::before {
        background-color: rgba(0, 0, 0, .8);
        bottom: 0;
        content: '';
        left: 0;
        position: fixed;
        right: 0;
        top: 0;
        z-index: -1;
    }

    @include respond-to($bp-lg) {
        display: none;
    }

    .container {
        align-items: center;
        display: flex;
        justify-content: space-between;
    }

    &__logo {
        font-size: 40px;
    }

    &__menu-content {
        background-color: $color-bg-secondary;
        border-radius: 0 0 0 50%;
        display: flex;
        flex-direction: column;
        isolation: isolate;
        justify-content: end;
        position: absolute;
        top: 0;
        right: 0;
        z-index: 1000;

        .toggle-menu__close {
            margin-bottom: 20px;
            padding: 20px 20px;
            text-align: end;
        }
    }

    nav {
        padding: 10px 100px 80px;
        position: relative;

        .list {

            &__item:not(:first-child) {
                margin-top: 20px;
            }
        }
    }
}