@use '../abstract/variables' as *;
@use '../abstract/mixins' as *;
@use '../base/typography' as *;

// MOBILE MENU
.h-mobile {
    background-color: rgba($color-bg-secondary, .5);
    padding: 10px 0;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;

    &::before {
        background-color: rgba(0, 0, 0, .8);
        bottom: 0;
        content: '';
        left: 0;
        position: fixed;
        right: 0;
        top: 0;
        z-index: -1;

        opacity: 0;
        visibility: hidden;
        transition: opacity .4s ease,
            visibility .4s ease;
    }

    &.is-visible::before {
        opacity: 1;
        visibility: visible;
    }

    @include respond-to($bp-lg) {
        display: none;
    }

    .container {
        align-items: center;
        display: flex;
        justify-content: space-between;
    }

    &__logo {
        font-size: $heading-2;
    }

    &__menu-content {
        background-color: $color-bg-secondary;
        border-radius: 0 0 0 50%;
        display: flex;
        flex-direction: column;
        isolation: isolate;
        justify-content: end;
        position: absolute;
        top: 0;
        right: 0;
        z-index: 1000;

        transform: translateX(100%);
        opacity: 0;
        transition: transform .4s cubic-bezier(.4, 0, .2, 1),
            opacity .3s ease;
        will-change: transform;
    }

    &.is-visible &__menu-content {
        transform: translateX(0);
        opacity: 1;
    }

    nav {
        padding: 10px 100px 80px;
        position: relative;

        .list {

            &__item:not(:first-child) {
                margin-top: 20px;
            }
        }
    }
}

// DESKTOP MENU
.h-desktop {
    display: none;

    @include respond-to($bp-lg) {
        background-color: rgba($color-bg-secondary, .5);
        display: block;
        padding: 20px 0;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        z-index: 1000;

        .container {
            align-items: center;
            display: flex;
            justify-content: space-between;
        }

        &__logo {
            font-size: $heading-1;
        }

        &__menu {

            .list {
                display: flex;

                &__item {
                    font-size: 24px;

                    &:not(:last-child) {
                        margin-right: 40px;
                    }
                }
            }
        }
    }
}