@use '../abstract/variables' as *;
@use '../abstract/mixins' as *;

.container {
    max-width: $max-width;
    margin: 0 auto;
    padding: 0 15px;

    @include respond-to($bp-lg) {
        padding: 0 30px;
    }
}

.section {
    padding: $sp-section-mobile 0;

    @include respond-to($bp-xl) {
        padding: $sp-section 0;
    }
}