// Colors
$color-bg-primary: #EAEAEA;
$color-bg-secondary: #BF9E79;

$color-txt-primary: #474646;
$color-txt-secondary: #707070;
$color-txt-additional: #1E3240;

$color-accent: #B4773B;


// Fonts
$font-family-primary: 'Mulish', sans-serif;