// Colors
$color-bg-primary: #EAEAEA;
$color-bg-secondary: #BF9E79;

$color-txt-primary: #474646;
$color-txt-secondary: #707070;
$color-txt-additional: #1E3240;

$color-accent: #51331C;

$color-btn: #B4773B;


// Font families
$font-family-primary: 'Mulish', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;


// Font sizes
$font-size-10: .625rem; // 10px
$font-size-12: .75rem; // 12px
$font-size-14: .875rem; // 14px
$font-size-16: 1rem; // 16px
$font-size-18: 1.125rem; // 18px
$font-size-20: 1.25rem; // 20px
$font-size-24: 1.5rem; // 24px
$font-size-32: 2rem; // 32px
$font-size-36: 2.25rem; // 36px
$font-size-40: 2.5rem; // 40px
$font-size-44: 2.75rem; // 44px
$font-size-48: 3rem; // 48px
$font-size-52: 3.25rem; // 52px
$font-size-56: 3.5rem; // 56px


// Font weights
$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-bold: 700;


// Breakpoints
$bp-sm: 576px;
$bp-md: 768px;
$bp-lg: 992px;
$bp-xl: 1200px;
$bp-xxl: 1400px;


// Spaces
$sp-section: 160px;
$sp-grid-small: 30px;
$sp-grid-medium: 120px;
$sp-grid-large: 240px;
$sp-content: 40px;
$sp-section-content: 80px;


// Sizes of container
$max-width: 1280px;
$padding-base: 60px;


// Other variables
$transition-btn: all .3s ease;