@use 'base/reset' as *;
@use 'abstract/variables' as *;
@use 'base/typography' as *;
@use 'abstract/mixins' as *;
@use 'components/btn' as *;
@use 'components/link' as *;
@use 'components/icons' as *;
@use 'layout/layout' as *;
@use 'layout/header' as *;
@use 'layout/hero' as *;
@use 'layout/award' as *;
@use 'layout/projects' as *;
@use 'layout/opinions' as *;
@use 'layout/contact' as *;

html {
    scroll-behavior: smooth;
}

body {
    font-family: $font-family-primary;
    position: relative;
}